
body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
  height: 100%;
  padding: 0px;
  margin-top: 40px;
  position: fixed;

}
.ang {
  margin: 0px;
  padding: 20px;
  float: right;
}
.glyphicon-star {
  cursor: pointer;
  color: #C4D793;
}

.firstRow h2 {
  display: inline;
  text-align: center;
}

.firstRow {
  text-align: center;
}

.gloat {
  float: left;
}

.post {
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px solid #eee;
}

.button {
  background-color: #C4D793;
  padding: 5px;
  margin: 0px;
  color: white;
  border-radius: 5px;
}

a.button:hover {
  text-decoration: none;
  background-color: #00B7FF;
}


/*.page-header{
  position: fixed;
  height: 30px;
}*/
